*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;

}

h1 {
    position: absolute;
    top: 90px;
    left: 7%;
    font-family: 'Arial', sans-serif;
    font-size: 185px;
    color: #FFFFFF;
    justify-content: center;
}

#pre-footer {
     position: absolute;
    top: 65%; left: 40%;
    padding: 0px;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    font-size: 30px;
}

#folio{
    position: absolute;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    color: #FFFFFF;
    justify-content: center;
}

#middle {
     position: absolute;
    top: 45%; left: 0;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


footer {
    position: absolute;
    bottom: 40px; left: 7%;
    padding: 0px;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color : #ff0000;
    font-size: 20px;
    justify-content: center;
}

h3{
    font-family: 'Times New Roman', sans-serif;
    font-size: 15px;
    justify-content: center;
    color: #FFFFFF;
}






